.events-bar {
    display: flex;
    justify-content: center;
    width: 25%;
    background: #fff;
    opacity: 80%;
    border: 1px solid #e2e1de;
    z-index: 1000 !important;
}

.events-bar p {
    font-size: 20px;
    margin: 0;
    padding: 25px;
}
